.cart-main-container {
  display: flex;
  justify-content: center;
}
.cart-item-list {
  margin-top: 100px;
  margin-bottom: 100px;
  
  width: 100%;
}

.cart-item-list table {
  width: 100%;
  border-collapse: collapse;
}

.cart-item-list table th,
.cart-item-list table td {
  border: 1px solid black;
  padding: 10px;
  text-align: center;
}

.cart-item-list table th {
  background-color: #ccc;
  font-size: 1.2em;
  font-weight: bold;
}

.cart-item-list table tr {
  height: 50px;
}
.thanh-toan{
  background-color: #0099CC;
  color: #fff;
  border-radius: 5px;
  float: right;
  position: fixed;
  margin-top: 40px;
  margin-bottom: 50px;
  right: 40px;
  height: 40px;
  font-size: large;
}
.btnDelete{
  background-color: red;
  color: #fff;
  border-radius: 5px;
  width: 50%;
}
.TotalAmount{
  font-size: 20px;
  font-weight: bold;
  position: fixed;
  right: 45px;
  margin-top: 10px;
}

.container-thanh-toan {
  display: flex;
  flex-direction: column;
  float: right;
}
.cart-item-empty{
  margin-top: 5%;
  text-align: center;
  font-size: 150px;

}